@{
    ViewBag.Title = "Utopia";
    Layout = "~/Views/Shared/Section2/Section5/Section3/_Section2_5_3Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
    <u>Utopia</u>
</h2>
<p align="left">
	Here are projects based in the Utopia Nation:</br>
	</br>
	Elemental Angels: An adventure game with RPG elements based in the Avia Nation.</br>
</p>