<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="OracleConnectionString" connectionString="Data Source=            &#xD;&#xA;         (DESCRIPTION=               &#xD;&#xA;           (ADDRESS_LIST=                 &#xD;&#xA;             (ADDRESS=                   &#xD;&#xA;             (PROTOCOL=TCP)                   &#xD;&#xA;             (HOST=localhost)                   &#xD;&#xA;             (PORT=1521)                 &#xD;&#xA;           )               &#xD;&#xA;         )              &#xD;&#xA;         (CONNECT_DATA=                 &#xD;&#xA;          (SERVER=DEDICATED)                 &#xD;&#xA;            (SERVICE_NAME=xe)              &#xD;&#xA;          )            &#xD;&#xA;         );&#xD;&#xA;         Initial Catalog=Test;&#xD;&#xA;         Persist Security Info=True;&#xD;&#xA;         User ID=kamurai;&#xD;&#xA;         Password=bluezer0"
      providerName="System.Data.OracleClient" />
    <add name="SQLServerConnectionString" connectionString="Data Source=localhost;&#xD;&#xA;         Initial Catalog=Test;&#xD;&#xA;         Persist Security Info=True;&#xD;&#xA;         User ID=SA;&#xD;&#xA;         Password=bluezer0"
      providerName="System.Data.SqlClient" />
    <add name="SQLServerExpressConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;&#xD;&#xA;         Initial Catalog=Test;&#xD;&#xA;         Persist Security Info=True;&#xD;&#xA;         User ID=SA;&#xD;&#xA;         Password=bluezer0"
      providerName="System.Data.SqlClient" />
    <add name="PostgresConnectionString" connectionString="Data Source=HOUSE523:5437;&#xD;&#xA;         Initial Catalog=Test;&#xD;&#xA;         Persist Security Info=True;&#xD;&#xA;         User ID=postgres;&#xD;&#xA;         Password=bluezer0"
      providerName="Npgsql" />
    <add name="MySQLConnectionString" connectionString="Driver={MySQL ODBC 3.51 Driver};server=localhost;database=test;uid=Test;port=3307;pwd=bluezer0"
      providerName="System.Data.Odbc" />
    <add name="PostgreSQLConnectionString" connectionString="Driver={PostgreSQL ODBC Driver(UNICODE)};server=localhost;database=Test;uid=postgres;port=5437;pwd=bluezer0"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql"
      support="FF" description=".Net Framework Data Provider for Postgresql"
      type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>