@{
    Layout = "~/Layouts/Section2/Section5/Section2/_Layout.cshtml";
    Page.Title = "Grendol";
}

<p align="left">
	Here are projects based in the Grendol Empire:</br>
	</br>
	Land of the Orcish Empire: Age of Magic: a CCG based on the different factions that 
	comprise the Grendol Empire.</br>
	Coliseum: Arena: a CCG representing the gladitorial arenas of Grendol.</br>
</p>