@{
    Layout = "~/Layouts/Section2/Section5/Section2/_Layout.cshtml";
    Page.Title = "Coliseum: Arena";
}

<p align="left">
	Coliseum: Arena is a CCG representing the gladitorial arenas of Grendol.
</p>