@{
    Layout = "~/Layouts/Section2/Section5/Section2/_Layout.cshtml";
    Page.Title = "Land of the Orcish Empire: Age of Magic";
}

<p align="left">
	Land of the Orcish Empire: Age of Magic: is a CCG based on the different factions that comprise the Grendol Empire.
</p>