@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section1/_Section2_1Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Gynowars: Battle Arena CCG</u>
</h1>
<p align="left">
	Gynowars: Battle Arena is a CCG that pits teams of creatures against each other 
	in an arena-like environment.  There are several scenarios to run, to include:
	</br>
	"Death Match", "Ring the Bell", and "Head Hunt".										
</p>