@{
    ViewBag.Title = "Online Experience Downloads";
    Layout = "~/Views/Shared/Section3/_Section3Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	Online Experience Downloads
</h2>
<p align="left">
Here are downloads to play Minecraft with us:</br>
</br>
    Mo Creatures (Minecraft v1.7.2):<t><a href="http://mocreatures.org/">Go here to download and manually install Mo' Creatures!</a></br>
</p>
<p align="left">
Here are downloads to play Cube World with us:</br>
</br>
Cube World:<t><a href="@Url.Content("~/Downloads/CubeSetup3.exe")">Come play Cube World!</a></br>
</br>
DirectX:<t><a href="http://htkb.dyndns.org/Section3/Downloads/directx_Jun2010_redist.exe">Direct X Redistrutable</a></br>
DirectX "Web":<t><a href="http://htkb.dyndns.org/Section3/Downloads/dxwebsetup.exe">Direct X Redistrutable</a></br>
</br>
</p>