@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Wars of Antarrea";
}

<p align="left">
	Wars of Antarrea is a table-top game where two or more armies battle for supremacy.
</p>