@{
    Layout = "~/Layouts/Section2/Section5/Section3/_Layout.cshtml";
    Page.Title = "Elemental Angels";
}

<p align="left">
	Elemental Angels: Adventure game with RPG elements based in the Avia Nation.
</p>