@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section2/_Section2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Coliseum: Arena</u>
</h2>
<p align="left">
	Coliseum: Arena is a CCG representing the gladitorial arenas of Grendol.
</p>