@{
    Layout = "~/Layouts/Section2/Section4/_Layout.cshtml";
    Page.Title = "Warring Nations";
}

<p align="left">
	Warring Nations is a Tactical RPG involving squad based battles.  
	Characters advance classes based on their weapon proficiencies and/or currently equipped weapons.
</p>