<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="StarterSite" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\StarterSite.mdf;User instance=true" providerName="System.Data.SqlClient"/>
    <add name="OracleConnectionString" connectionString="                    Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));                    user id=kamurai;                    password=bluezer0" providerName="System.Data.OracleClient"/>
    <add name="DerbyConnectionString" connectionString="server=localhost:1527;                    database=Test;                    uid=Kamurai;                    password=bluezer0" providerName="System.Data.SqlClient"/>
    <add name="MySQLConnectionString" connectionString="Data Source=Localhost;               Port=3307;               Database=test;               User Id=Test;               Password=bluezer0" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLServerConnectionString" connectionString="server=localhost;               database=Test;               uid=SA;               password=bluezer0" providerName="System.Data.SqlClient"/>
    <add name="SQLServerExpressConnectionString" connectionString="server=.\SQLExpress;               database=Test;               uid=SA;               password=bluezer0" providerName="System.Data.SqlClient"/>
    <add name="PostgresConnectionString" connectionString="                    Server=localhost;          Port=5437;          Database=Test;                    User Id=postgres;                    password=bluezer0;" providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>