@{
    Layout = "~/Layouts/Section1/Section6/_Layout.cshtml";
    Page.Title = "SQL Server Programming";

    var db1 = Database.Open("SQLServerConnectionString");
    var selectQueryString1 = "SELECT * FROM Test";

    var db2 = Database.Open("SQLServerExpressConnectionString");
    var selectQueryString2 = "SELECT * FROM Test";

}

<p align="left">
	This section is dedicated to SQL Server based programming.
</p>


<table> 
    <tr>
        <td>
            SQL Server Instance  
        </td>
        <td></td>
    </tr>
    <tr>
        <th>Index</th> 
        <th>Color</th> 
    </tr>
    @foreach(var row in db1.Query(selectQueryString1))
    {
        <tr> 
            <td>@row.indext</td> 
            <td>@row.Color</td> 
        </tr> 
    }
</table>
<br/>
<br/>
<table> 
    <tr>
        <td>
            SQL Server Express Instance  
        </td>
        <td></td>
    </tr>
    <tr>
        <th>Index</th> 
        <th>Color</th> 
    </tr>
    @foreach(var row in db2.Query(selectQueryString2))
    {
        <tr> 
            <td>@row.indext</td> 
            <td>@row.Color</td> 
        </tr> 
    }
</table> 