@{
    Layout = "~/Layouts/Section1/Section6/_Layout.cshtml";
    Page.Title = "Derby Programming";

    var db = Database.Open("DerbyConnectionString");
    var selectQueryString = "SELECT * FROM Test";
}

<p align="left">
	This section is dedicated to Derby based programming.
    <br/>
    <br/>
    It is supposedly not possible to have ASP.NET talk to the Java database at this time.
</p>
