@{
    ViewBag.Title = "Psychodom: The One Empire";
    Layout = "~/Views/Shared/Section2/Section4/_Section2_4Layout.cshtml";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/Section2/Section4/Project2.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section2/Section4/Project2.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/Section2/Section4/Project2.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/Section2/Section4/Project2.asp\">ASP Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/Section2/Section4/Project2.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section2/Section4/Project2.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/Section2/Section4/Project2.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/Section2/Section4/Project2.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebApplication/Section2/Section4/Project2.cshtml\">ASP.NET Web App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/Section2/Section4/Project2.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/Section2/Section4/Project2.html\">Apache SSI</a><br>";
}

<h2>@ViewBag.Message</h2>

<h1>
	Psychodom: The One Empire
</h1>
<p id="idCenterContent">
    Psychodom: The One Empire is a 3rd person perspective Adventure / RPG.
    The protagonist is tasked with investigating various situations leading
    to a conspiracy about who is really ruling the continent.
</p>