@{
    ViewBag.Title = "Vivus Mortem";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project11.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project11.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/Section2/Section6/Section2/Section2/Project11.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/Section2/Section6/Section2/Section2/Project11.asp\">ASP Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/Section2/Section6/Section2/Section2/Project11.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project11.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/Section2/Section6/Section2/Section2/Project11.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/Section2/Section6/Section2/Section2/Project11.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebApplication/Section2/Section6/Section2/Section2/Project11.cshtml\">ASP.NET Web App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/Section2/Section6/Section2/Section2/Project11.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/Section2/Section6/Section2/Section2/Project11.html\">Apache SSI</a><br>";
}

<h2>@ViewBag.Message</h2>

<h1>
	Vivus Mortem
</h1>
<p id="idCenterContent">
    Vivus mortem is a category for humans that are encountered and exhibit certain traits.  These possibly once humans
    have extreme abilities to endure the harshest environment, avoid lighted scenarios whenever possible, and attempt to
    take human prisoner whenever possible.  Escapees had stated that the Vivus Mortem would feed on them, and upon death
    and exposed bodies lose their excessive durability and seem to disintegrate rapidly enough to appear to "turn to ash".
</p>