@{
    ViewBag.Title = "Derby Programming";
    Layout = "~/Views/Shared/Section1/Section6/_Section1_6Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Derby Programming</u>
</h1>
<p align="left">
	This section is dedicated to Derby programming.
    <br />
    <br />
    It is supposedly not possible to have ASP.NET talk to the Java database at this time.
</p>