@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section4/_Section2_4Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Warring Nations</u>
</h1>
<p align="left">
	Warring Nations is a Tactical RPG involving squad based battles.  
	Characters advance classes based on their weapon proficiencies and/or currently equipped weapons.
</p>