@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Synergy";
}

<p align="left">
	These almost intangible Xenos appear to made of energy itself.  They use technology that appears unstable in nature.
</p>