@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Vivus Mortem";
}

<p align="left">
	Vivus mortem is a category for humans that are encountered and exhibit certain traits.  These possibly once humans 
	have extreme abilities to endure the harshest environment, avoid lighted scenarios whenever possible, and attempt to 
	take human prisoner whenever possible.  Escapees had stated that the Vivus Mortem would feed on them, and upon death 
	and exposed bodies lose their excessive durability and seem to disintegrate rapidly enough to appear to "turn to ash".
</p>