@{
    ViewBag.Title = "Renley";
    Layout = "~/Views/Shared/Section2/Section4/_Section2_4Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Renley</u>
</h1>
<p align="left">
	This section is dedicated to projects centered in the Renley universe.
</p>