@{
    ViewBag.Title = "Nine Card";
    Layout = "~/Views/Shared/Section2/Section5/Section4/_Section2_5_4Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Nine Card</u>
</h2>
<p align="left">
	Nine Card is a Tactical card game played through the Elvia Empire.</br>
</p>
									