<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="./Section3.css" rel="stylesheet" type="text/css">
</head>
<font color="white">

<body id="idBody">
    <table id="idTableMain">
        <tr id="idHeaderRow">
            <td id="idHeaderRowCenter" colspan="3">
                <img id="idLogo" src="../logo_HouseThatKamuraiBuilt_blueonblack.jpg"><br>
            </td>
        </tr>
        <tr id="idNavigationRow">
            <td id="idNavigationBar" colspan="3">
                <a href="../index.html">Home</a>
                <a href="../Section1/index.html">Web Programming</a>
                <a href="../Section2/index.html">Private Projects</a>
                <a href="../Section3/index.html">Downloadable Projects</a>
			</td>
        </tr>				
        <tr id="idCenterRow">
            <td id="idCenterRowLeft">
                <h4>
                    Navigation
                </h4>
                <a class="navlinkA" href="./Project1.html">Online Experience Downloads</a></br></br>
				<a class="navlinkA" href="./Project2.html">Game Maker Downloads</a></br></br>
				<a class="navlinkA" href="./Project3.html">Java Downloads</a></br></br>
				<a class="navlinkA" href="./Project4.html">C# Downloads</a></br></br>
				<a class="navlinkA" href="./Project5.html">C++ Downloads</a></br></br>
			</td>
            <td id="idCenterRowMain">
                <title>
                    C# Downloads
                </title>
                <h2>
                    C# Downloads
                </h2>
                <p id="idCenterContent">
                    Here are C# Programs to download:</br>
                    </br>
                    "Chess Program":<t><a href="../downloads/pichaku.zip">This is currently not available.</a></br>
                </p>
			</td>
            <td id="idCenterRowRight">
                <h4>
                    Information
                </h4>
                This was written in basic HTML.<br><br>
                Other versions of this page are here:<br>
                <a href="http://htkb.dyndns.org/Section3/Project4.php">PHP</a><br>
                <a href="http://htkb.dyndns.org/Javascript/Section3/Project4.html">HTML Javascript</a><br>
                <a href="http://htkb.dyndns.org:81/ASP/Section3/Project4.asp">ASP Javascript</a><br>
                <a href="http://htkb.dyndns.org:81/ASPNET/Section3/Project4.aspx">ASP.NET Javascript</a><br>
                <a href="http://htkb.dyndns.org/Section3/Project4.shtml">Perl</a><br>
                <a href="http://htkb.dyndns.org:8080/JSPApplication/Section3/Project4.jsp">JSP</a><br>
                <a href="http://htkb.dyndns.org:8080/JSFApplication/Section3/Project4.xhtml">JSF</a><br>
                <a href="http://htkb.dyndns.org:81/WebApplication/Section3/Project4.cshtml">ASP.NET Web App</a><br>
                <a href="http://htkb.dyndns.org:81/WebForm/Section3/Project4.aspx">ASP.NET Webform</a><br>
                <a href="http://htkb.dyndns.org:81/MVC/Main/Section3/Project4">ASP.NET MVC App</a><br>
                <a href="http://htkb.dyndns.org/SSI/Section3/Project4.html">Apache SSI</a><br>
            </td>
        </tr>
        <tr id="idFooterRow">
            <td id="idFooterMain" colspan="3">
                <p id="idFooterContent">
                    <a href="../Downloads/wrar371.exe">You may need WinRar to open zip files from this site.</a></br>
                    © Copyright 2012 All rights reserved<br>
                    House That Kamurai Built<br>
                </p>
                <p id="idFooterManagement">
                    <font size="1">
                    Website managed by Kamurai.
                    </font>
                </p>
            </td>
        </tr>
    </table>
</font>
</body>
</html>