@{
    Layout = "~/Layouts/Section1/Section6/_Layout.cshtml";
    Page.Title = "SQL Server Programming";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/Section1/Section6/Project4.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section1/Section6/Project4.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/Section1/Section6/Project4.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/Section1/Section6/Project4.asp\">ASP Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/Section1/Section6/Project4.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section1/Section6/Project4.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/Section1/Section6/Project4.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/Section1/Section6/Project4.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/Section1/Section6/Project4.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/MVC/Section1/Section6/Project4\">ASP.NET MVC App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/Section1/Section6/Project4.html\">Apache SSI</a><br>";

    var db1 = Database.Open("SQLServerConnectionString");
    var selectQueryString1 = "SELECT * FROM Test";

    var db2 = Database.Open("SQLServerExpressConnectionString");
    var selectQueryString2 = "SELECT * FROM Test";

}

<p align="left">
	This section is dedicated to SQL Server based programming.
</p>


<table> 
    <tr>
        <td>
            SQL Server Instance  
        </td>
        <td></td>
    </tr>
    <tr>
        <th>Index</th> 
        <th>Color</th> 
    </tr>
    @foreach(var row in db1.Query(selectQueryString1))
    {
        <tr> 
            <td>@row.indext</td> 
            <td>@row.Color</td> 
        </tr> 
    }
</table>
<br/>
<br/>
<table> 
    <tr>
        <td>
            SQL Server Express Instance  
        </td>
        <td></td>
    </tr>
    <tr>
        <th>Index</th> 
        <th>Color</th> 
    </tr>
    @foreach(var row in db2.Query(selectQueryString2))
    {
        <tr> 
            <td>@row.indext</td> 
            <td>@row.Color</td> 
        </tr> 
    }
</table> 