@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/_Section2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Assault CCG</u>
</h1>
<p align="left">
	This section is dedicated CCG project "Assault".
</p>