@{
    ViewBag.Title = "The Dark";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>The Dark</u>
</h1>
<p align="left">
	The Dark are a Hive centered Xenos resembling a disturbing cross between snake, bird and insect.
</p>