@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "HTKB Armies";
}

<p align="left">
	This section is dedicated to HTKB designed armies based on the Warhammer 40K universe.
</p>