@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Avia";
}

<p align="left">
	The Avia are a humanoid xenos that are naturally equipped with wings.  They can are the very least 
	glide for short times without technological assistance.
</p>