@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Avia</u>
</h1>
<p align="left">
	The Avia are a humanoid xenos that are naturally equipped with wings.  They can are the very least 
	glide for short times without technological assistance.
</p>