@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Synergy</u>
</h1>
<p align="left">
	These almost intangible Xenos appear to made of energy itself.  They use technology that appears unstable in nature.
</p>