@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Voboulids</u>
</h1>
<p align="left">
	Vouboulids are a plant-like group of entities.  Using a hive structure, 
	these Xenos seem to concentrate on populating one area at a time, causing a slow expansion.
</p>