@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Global Antarrea";
}

<p align="left">
	Here are projects based in the Antarrea universe:</br>
</br>
Team Tactical: Crash Ball:               Tactical board game centered on a battle version of football.</br>
Wars of Antarrea:                        Table-top game where two or more armies battle for supremacy.</br>
Revolutions: Invading Nations:           Tactical RPG, 1st story arc.</br>
Revolutions: Rebellion Against the Fist: Tactical RPG, 2nd story arc.</br>
Revolutions: Return to Arms:             Tactical RPG, 3rd story arc.</br>
Revoultions: Post Wars:                  Tactical RPG, 4th story arc.</br>
</p>