@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Revolutions: Return to Arms";
}

<p align="left">
	Revolutions is a Tactical RPG with Return to Arms as its 3rd story arc.
</p>