@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Team Tactical: Crash Ball";
}

<p align="left">
	Team Tactical: Crash Ball is a tactical board game centered on a battle version of football.
</p>