@{
    Layout = "~/Layouts/Section2/_Layout.cshtml";
    Page.Title = "Conspiratorium";
}

<p align="left">
	This section is dedicated to the board game project "Conspiratorium".
	A game of assassins and CIA, you must remember who is friend and who is not.
</p>