@{
    ViewBag.Title = "Sacred Offerings";
    Layout = "~/Views/Shared/Section2/_Section2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Sacred Offerings</u>
</h1>
<p align="left">
	This section is dedicated to the board game project "Sacred Offerings".
	Being a god is hard, you have to eat, but don't want to fall out favor with the people more than the other deities.
	Draw people to worship you, but be discerning about who is sacrificed.
</p>