@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "The Dark";
}

<p align="left">
	The Dark are a Hive centered Xenos resembling a disturbing cross between snake, bird and insect.
</p>