@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Ad Infinitum";
}

<p align="left">
	Ad Infinitum is a collective of A.I. constructs.  Little is known about these constructs 
	as they are not known to negotiate.  While some technology has been recovered, it is rare 
	to find anything viable after battles.
</p>