@{
    Layout = "~/Layouts/Section2/Section1/_Layout.cshtml";
    Page.Title = "Gynowars: Crash Ball";
}

<p align="left">
	Gynowars: Crash Ball is a turn based strategy board game.  Basically it's gridiron with Gynos.
</p>