@{
    ViewBag.Title = "Land of the Orcish Empire: Age of Magic";
    Layout = "~/Views/Shared/Section2/Section2/_Section2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Land of the Orcish Empire: Age of Magic</u>
</h2>
<p align="left">
	Land of the Orcish Empire: Age of Magic: is a CCG based on the different factions that 
	comprise the Grendol Empire.
</p>