@{
    ViewBag.Title = "Wars of Antarrea";
    Layout = "~/Views/Shared/Section2/Section5/Section1/_Section2_5_1Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Wars of Antarrea</u>
</h2>
<p align="left">
	Wars of Antarrea is a table-top game where two or more armies battle for supremacy.
	</br>
</p>