@{
    ViewBag.Title = "Team Tactical: Crash Ball";
    Layout = "~/Views/Shared/Section2/Section5/Section1/_Section2_5_1Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Team Tactical: Crash Ball</u>
</h2>
<p align="left">
	Team Tactical: Crash Ball is a tactical board game centered on a battle version of football.
	</br>
</p>