@{
    ViewBag.Title = "Mars Projects";
    Layout = "~/Views/Shared/Section2/_Section2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Mars Projects</u>
</h1>
<p align="left">
	This section is dedicated to the Mars centered project "Opposition".
</p>