@{
    ViewBag.Title = "HTKB Members Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	Member Pages
</h2>
<p align="left">
	Here are some of our member's pages:</br>
</p>
<h3>
	<p align="left">
		Kamurai:
	</p>
</h3>
<p align="left">
<a href="http://www.yoyogames.com/users/Kamurai">Kamurai's YoYo Games page:  See some of the games he's posted.</a></br>
<a href="http://www.facebook.com/cris.kamurai">Kamurai's Facebook.</a></br>
<a href="http://twitter.com/#!/Kamurai25">Kamurai's Twitter.</a></br>
<a href="https://www.gplus.com/Members/Cris-Kamurai">Kamurai's Google Plus.</a></br>
</p>