@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section6/Section2/Section2/_Section2_6_2_2Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Eve</u>
</h1>
<p align="left">
	The Eve are a race of terrifying beast creatures.  
	These Xenos somewhat resemble large cats.
</p>