@{
    ViewBag.Title = "HTKB Web Programming Page";
    Layout = "~/Views/Shared/Section1/Section6/_Section1_6Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Database Programming</u>
</h1>
<p align="left">
	This section is dedicated to Oracle programming.
</p>