@{
    Layout = "~/Layouts/Section2/Section5/Section3/_Layout.cshtml";
    Page.Title = "Utopia";
}

<p align="left">
	Here are projects based in the Utopia Nation:</br>
	</br>
	Elemental Angels: An adventure game with RPG elements based in the Avia Nation.</br>
</p>