@{
    Layout = "~/Layouts/Section2/_Layout.cshtml";
    Page.Title = "Kingdoms";
}

<p align="left">
	This section is dedicated to the digital board game project "Kingdoms".  Explore the world's Kingdoms, get rich, get strong and conquer.
</p>