$def with (vHead, vHeader, vNavBar, vNavigation, vContent, vVersions, vFooter)

<html>
<head>
	$:vHead
</head>
<body id="idBody">
    <table id="idTableMain">
        <tr id="idHeaderRow">
            <td id="idHeaderRowCenter" colspan="3">
				$:vHeader
            </td>
        </tr>
        <tr id="idNavigationRow">
            <td id="idNavigationBar" colspan="3">
                $:vNavBar
            </td>
        </tr>				
		<tr id="idCenterRow">
            <td id="idCenterRowLeft">
                <h4>
                    Navigation
                </h4>
				$:vNavigation
  			</td>
            <td id="idCenterRowMain">
                $:vContent
            </td>
			<td id="idCenterRowRight">
                <h4>
                    Information
                </h4>
				This was written with Python 2.7 and web.py.<br><br>
                Other versions of this page are here:<br>
            	$:vVersions
            </td>   
		</tr>
        <tr id="idFooterRow">
            <td id="idFooterMain" colspan="3">
                $:vFooter
            </td>
        </tr>
    </table>
</body>
</html>