@{
    Layout = "~/Layouts/Section3/_Layout.cshtml";
    Page.Title = "Java Downloads";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/Section3/Project3.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section3/Project3.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/Section3/Project3.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/Section3/Project3.asp\">ASP Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/Section3/Project3.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Section3/Project3.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/Section3/Project3.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/Section3/Project3.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/Section3/Project3.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/MVC/Section3/Project3\">ASP.NET MVC App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/Section3/Project3.html\">Apache SSI</a><br>";
}

<p align="left">
Here are Java Programs to download:</br>
</br>
"Blood Bowl Manager":<t><a href="../downloads/pichaku.zip">This is currently not available.</a></br>
</p>