@{
    Layout = "~/Layouts/Section3/_Layout.cshtml";
    Page.Title = "C# Downloads";
}

<p align="left">
Here are C# Programs to download:</br>
</br>
"Chess Program":<t><a href="../downloads/pichaku.zip">This is currently not available.</a></br>
</p>