@{
    ViewBag.Title = "Gynowars";
    Layout = "~/Views/Shared/Section2/Section1/_Section2_1Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Gynowars</u>
</h1>
<p align="left">
	This section is dedicated to projects centered in the Gynowars universe.
</p>