@{
    ViewBag.Title = "Gynowars RPG";
    Layout = "~/Views/Shared/Section2/Section1/_Section2_1Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Gynowars RPG</u>
</h1>
<p align="left">
	The Gynowars RPG is a "pokemon-like" tactical RPG.  
	The protagonist uses creatures to fight battles against other creatures to progress through the storyline.
</p>