@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section3/_Section2_4Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Elemental Angels</u>
</h2>
<p align="left">
	Elemental Angels: Adventure game with RPG elements based in the Avia Nation.</br>
</p>
</br>
</br>