@{
    Layout = "~/Layouts/Section2/Section4/_Layout.cshtml";
    Page.Title = "Psychodom: The One Empire";
}

<p align="left">
	Psychodom: The One Empire is a 3rd person perspective Adventure / RPG.  
	The protagonist is tasked with investigating various situations leading 
	to a conspiracy about who is really ruling the continent.
</p>