@{
    ViewBag.Title = "Downloadable Projects";
    Layout = "~/Views/Shared/Section3/_Section3Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h1>
	<u>Downloadable Projects</u>
</h1>
<p align="left">
	This section is dedicated to downloadable projects.
</p>