@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Twin Fists";
}

<p align="left">
	This lost Chapter spent far too long stranded outside the reach of civilisation.  
	The Twin Fists specialize in close combat battles.
</p>