@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Geo Marines";
}

<p align="left">
	Geo Marines are a specialized Chapter concentrating equipment speciality.
</p>