@{
    Layout = "~/Layouts/Section3/_Layout.cshtml";
    Page.Title = "Online Experience Downloads";
}

<p align="left">
Here are downloads to play Minecraft with us:</br>
</br>
Mo Creatures (Minecraft v1.6.4):<t><a href="./downloads/Minecraft_MoCreatures.rar">Come play Mo' Creatures!</a></br>
Pixelmon (Minecraft v1.6.2):<t><a href="./downloads/Minecraft_Pixelmon.rar">Come play Pixelmon!</a></br>
Just follow the instructions in the compressed file.</br>
</p>
<p align="left">
Here are downloads to play Cube World with us:</br>
</br>
Cube World:<t><a href="./downloads/CubeSetup3.exe">Come play Cube World!</a></br>
</br>
DirectX:<t><a href="./downloads/directx_Jun2010_redist.exe">Direct X Redistrutable</a></br>
DirectX "Web":<t><a href="./downloads/dxwebsetup.exe">Direct X Redistrutable</a></br>
</br>
</p>