@{
    Layout = "~/Layouts/Section2/Section5/Section4/_Layout.cshtml";
    Page.Title = "Elvia";
}

<p align="left">
	Here are projects based in the Elvia Empire:</br>
	</br>
	Nine Card: a Tactical card game played through the Elvia Empire.</br>
</p>