@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Voboulids";
}

<p align="left">
	Vouboulids are a plant-like group of entities.  Using a hive structure, 
	these Xenos seem to concentrate on populating one area at a time, causing a slow expansion.
</p>