@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Fungi";
}

<p align="left">
	These Xenos are unidentifiable as anything other than an advanced form of Fungus.  
	Their appearances range incredible wide, but tend to even resemble familiar forms of fungus.
</p>