@{
    Layout = "~/Layouts/Section2/Section6/Section2/Section2/_Layout.cshtml";
    Page.Title = "Eve";
}

<p align="left">
	The Eve are a race of terrifying beast creatures.  
	These Xenos somewhat resemble large cats.
</p>