@{
    Layout = "~/Layouts/Section3/_Layout.cshtml";
    Page.Title = "Online Experience Downloads";
}

<p align="left">
Here are downloads to play Minecraft with us:</br>
</br>
    Mo Creatures (Minecraft v1.7.2):<t><a href="http://mocreatures.org/">Go here to download and manually install Mo' Creatures!</a></br>
</p>
<p align="left">
Here are downloads to play Cube World with us:</br>
</br>
Cube World:<t><a href="http://htkb.dyndns.org/Section3/Downloads/CubeSetup3.exe">Come play Cube World!</a></br>
</br>
DirectX:<t><a href="http://htkb.dyndns.org/Section3/Downloads/directx_Jun2010_redist.exe">Direct X Redistrutable</a></br>
DirectX "Web":<t><a href="http://htkb.dyndns.org/Section3/Downloads/dxwebsetup.exe">Direct X Redistrutable</a></br>
</br>
</p>