@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "Welcome to the House That Kamurai Built!";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/index.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/index.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/index.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/index.asp\">ASP Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/index.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/index.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/index.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/index.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/index.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/MVC/Main/index\">ASP.NET MVC App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/index.html\">Apache SSI</a><br>";
}

<p id="idCenterContent">
    The House That Kamurai Built is an
    entertainment company with the primary
    focus of increasing awesome by stimulating
    intelligent conversation and entertainment
    via discussion and game design.<br>
    Increase the Awesome with us!<br>
</p>