@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "Welcome to the House That Kamurai Built!";
}

<p align="left">
The House That Kamurai Built is an 
entertainment company with the primary 
focus of increasing awesome by stimulating 
intelligent conversation and entertainment 
via discussion and game design. <br>
Increase the Awesome with us!<br>
</p>