@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Revolutions: Rebellion Against the Fist";
}

<p align="left">
	Revolutions is a Tactical RPG with Rebellion Against the Fist as its 2nd story arc.
</p>