@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Revolutions: Invading Nations";
}

<p align="left">
	Revolutions is a Tactical RPG with Invading Nations as its 1st story arc.
</p>