 /* 
    Document   : moo
    Created on : Nov 24, 2010, 2:32:30 PM
    Author     : Kamurai
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root 
{ 
    display: block;
}

html 
{ 
    min-height: 125%;
    min-height: 125vh;
    height: 125%;
    height: 125vh;
    max-height: 125%;
    max-height: 125vh;
    width: 100%;
    width: 100vw;
}

body
{
    min-height: 125%;
    min-height: 125vh;
    height: 125%;
    height: 125vh;
    max-height: 125%;
    max-height: 125vh;
    min-width: 100%;
    min-width: 100vw;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    background-color: #aaaaaa;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    line-height: 25px;
}

/* Elements */
a {
    font-family: Verdana, Geneva, sans-serif;
    color: #0000ff;
}

a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #00aa00;
}

h1 
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 175%;
    color: #0000ff;
    
}

h2 
{
    vertical-align: top;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 150%;
    color: #0000ff;
    text-align: center;
    text-decoration: underline;
    padding: 0px;
}

h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 130%;
    color: #0000ff;
    text-align: center;
}

h4 {
    width: 100%;
    max-width: 100%;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 120%;
    color: #bbbbbb;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #0000ff;
    
}

h5{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80%;
    color: #0000ff;
    text-align: left;
    padding-left: 15px;
}

h6{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 70%;
    color: #0000ff;
    text-align: left;
    padding-left: 20px;
}

navlink
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;

}

navlink a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

navlink a:hover
{
    color: #00aa00;
}

/* Classes */
.navBar
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 10px;
    text-align: left;
    font-size: 100%;
}

.navBar a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

.navBar a:hover
{
    color: #00aa00;
}

.navlinkA
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;
    font-size: 100%;
}

.navlinkA a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

.navlinkA a:hover
{
    color: #00aa00;
}

.navlinkB
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;
    font-size: 90%;
    margin: 5%;
}

.navlinkB a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

.navlinkB a:hover
{
    color: #00aa00;
}

.navlinkC
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;
    font-size: 80%;
    margin: 10%;
}

.navlinkC a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

.navlinkC a:hover
{
    color: #00aa00;
}

.navlinkD
{
    width: auto;
    
    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;
    font-size: 70%;
    margin: 15%;
}

.navlinkD a
{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

.navlinkD a:hover
{
    color: #00aa00;
}

.classTableMyListRow
{
    height: 75%;
    height: 50vh;
    max-height: 75%;
    max-height: 50vh;
    min-width: 100%;
    min-width: 70vw;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-row;
}

.classTableMyListRowSpanNumber
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    width: 33%;
    width: 22vw;
    //width: auto;
    max-width: 33%;
    max-width: 22vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableMyListRowNumber
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: right;
    vertical-align: top;
    //display: table-cell;
}

.classTableMyListRowSpanName
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    width: 33%;
    width: 22vw;
    //width: auto;
    max-width: 33%;
    max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableMyListRowName
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableMyListRowSpanPicture
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    width: 35%;
    width: 35vw;
    //width: auto;
    max-width: 35%;
    max-width: 35vw;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: block;
}

.classTableMyListRowSpanSex
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    width: 33%;
    width: 22vw;
    //width: auto;
    max-width: 33%;
    max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableMyListRowSex
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableMyListRowPicture
{
    height: 100%;
    height: 50vh;
    max-height: 100%;
    max-height: 50vh;
    //width: 35%;
    //width: 35vw;
    width: auto;
    //max-width: 35%;
    //max-width: 35vw;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
        
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: block;
}

.classTableGlobalListHeaderRow
{
    height: 25%;
    height: 5vh;
    max-height: 75%;
    max-height: 5vh;
    min-width: 100%;
    min-width: 70vw;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-row;
}

.classTableGlobalListHeader
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRow
{
    height: 25%;
    height: 20vh;
    max-height: 75%;
    max-height: 20vh;
    min-width: 100%;
    min-width: 70vw;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-row;
}

.classTableGlobalListRowSpanNumber
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowNumber
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableGlobalListRowSpanName
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowName
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableGlobalListRowSpanPicture
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vh;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: block;
}

.classTableGlobalListRowPicture
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 100%;
    //width: 35vw;
    width: auto;
    //max-width: 100%;
    //max-width: 35vw;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
        
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: block;
}

.classTableGlobalListRowSpanValue
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowValue
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableGlobalListRowSpanRanking
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowRanking
{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableManagementHeaderRow
{
    height: 25%;
    height: 5vh;
    max-height: 75%;
    max-height: 5vh;
    min-width: 100%;
    min-width: 70vw;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-row;
}

.classTableManagementHeader
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementRow
{
    height: 25%;
    height: 5vh;
    max-height: 75%;
    max-height: 5vh;
    min-width: 100%;
    min-width: 70vw;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-row;
}

.classTableManagementUsersColIndex
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    overflow-x: auto;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
}

.classTableManagementUsersColUsername
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    overflow-x: auto;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
}

.classTableManagementUsersColEmail
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    overflow-x: auto;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColAdminLevel
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColTwoDP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColThreeDP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColFPS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColFPP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColVPuzzle
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColBuletstorm
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColFighting
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColStealth
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColSurvival
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColVN
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColIM
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColRPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColTRPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColARPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColSports
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColRacing
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColRTS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColTBS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColVE
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColMMO
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColMoba
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColOnline
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementData
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    overflow-x: auto;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}


/* IDs */
#idForm
{
    
}

#idTableMain
{
    height: 125%;
    height: 125vh;
    max-height: 125%;
    max-height: 125vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    background-color: #000000;
    border: 0px solid #FE0101;
    vertical-align: top;
    border-collapse: collapse;
    
}

#idHeaderRow
{
    height: 10%;
    height: 15vh;
    max-height: 10%;
    max-height: 15vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    color: #0000ff;
    border: 0px solid #e9f413;
    vertical-align: top;
}

#idLogo
{
    height: 100%;
    height: 15vh;
    max-height: 100%;
    max-height: 15vh;
    //width: 100%;
    //width: 100vw;
    width: auto;
    //max-width: 100%;
    //max-width: 100vw;
    
    border: 0px solid #FE0101;
    
    margin: auto;
    
    text-align: center;
    vertical-align: top;
    display: block;
}

#idNavigationRow
{
    height: 3%;
    height: 5vh;
    max-height: 3%;
    max-height: 5vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    border: 0px solid #e9f413;
    vertical-align: top;
}

#idNavForm
{
    height: 3%;
    height: 5vh;
    max-height: 3%;
    max-height: 5vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    color: #0000ff;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idCenterRow
{
    height: 70%;
    height: 85vh;
    max-height: 85%;
    max-height: 85vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    border: 0px solid #e9f413;
    
    vertical-align: top;
    display: table-row;
}

#idCenterRowLeft
{
    height: 100%;
    height: 85vh;
    max-height: 100%;
    max-height: 85vh;
    width: 15%;
    width: 15vw;
    max-width: 15%;
    max-width: 15vw;
    
    padding: 0px;
    
    border: 0px solid #13ecf4;
    
    vertical-align: top;
    display: table-cell;
}

#idAdvertLeft
{
    min-height: 100%;
    min-height: 75vh;
    height: 100%;
    height: 75vh;
    max-height: 100%;
    max-height: 75vh;
    width: 100%;
    width: 15vw;
    max-width: 100%;
    max-width: 15vw;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    
    padding: 0px;
    margin: auto;
    
    vertical-align: top;
    display: block;
}

#idCenterRowMain
{
    height: 100%;
    height: 85vh;
    max-height: 100%;
    max-height: 85vh;
    width: 70%;
    width: 70vw;
    max-width: 70%;
    max-width: 70vw;
    
    margin: 0px;
    padding: 0px;
    border: 0px solid #13ecf4;
    overflow-x: auto;
    overflow-y: auto;
    
    //display: table-cell;
    vertical-align: top;
}

#idCenterContent
{
    height: auto;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    color: #aaaaaa;
    border: 0px solid #FE0101;
    
    vertical-align: top;
}

#idTableCompare
{
    height: 80%;
    height: 80vh;
    max-height: 80%;
    max-height: 80vh;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    border: 0px solid #00fffa;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    
    vertical-align: top;
    //display: table;
}

#idTableCompareRowPictures
{
    height: 75%;
    height: 75vh;
    max-height: 75%;
    max-height: 75vh;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    border: 0px solid #e9f413;
    
    margin: auto;
    padding: 0px;
    
    text-align: center;
    vertical-align: top;
    display: table-row;
 }

#idTableCompareRowDataPicturesLeft
{
    height: 75%;
    height: 75vh;
    max-height: 75%;
    max-height: 75vh;
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    border: 0px solid #13ecf4;
    
    margin: auto;
    padding: 0px;
    
    text-align: center;
    vertical-align: top;
    display: table-cell;
 }

#idTableCompareRowDataPicturesRight
{
    height: 75%;
    height: 75vh;
    max-height: 75%;
    max-height: 75vh;
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    border: 0px solid #13ecf4;
    margin: auto;
    padding: 0px;
    
    vertical-align: top;
    display: table-cell;
 }

#idTableCompareRowPicturesLeft
{
    height: 75%;
    height: 75vh;
    max-height: 75%;
    max-height: 75vh;
    //width: 35%;
    //width: 35vw;
    width: auto;
    //max-width: 35%;
    //max-width: 35vw;
    
    text-align: center;
    margin: auto;
    padding: 0px;
    border: 0px solid #f702f7;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    
    
    display: block;
 }

#idTableCompareRowPicturesRight
{
    height: 75%;
    height: 75vh;
    max-height: 75%;
    max-height: 75vh;
    //width: 35%;
    //width: 35vw;
    width: auto;
    //max-width: 35%;
    //max-width: 35vw;
    
    text-align: center;
    margin: auto;
    padding: 0px;
    border: 0px solid #f702f7;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    
    
    display: block;
 }

#idTableCompareRowNames
{
    height: 5%;
    height: 5vh;
    max-height: 5%;
    max-height: 5vh;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #e9f413;
    margin: auto;
    padding: 0px;
    display: table-row;
}

#idTableCompareRowNamesLeft
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowNamesRight
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowReleases
{
    height: 5%;
    height: 5vh;
    max-height: 5%;
    max-height: 5vh;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #e9f413;
    margin: auto;
    padding: 0px;
    display: table-row;
}

#idTableCompareRowReleasesLeft
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowReleasesRight
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowPlatform
{
    height: 5%;
    height: 5vh;
    max-height: 5%;
    max-height: 5vh;
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #e9f413;
    margin: auto;
    padding: 0px;
    display: table-row;
}

#idTableCompareRowPlatformLeft
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowPlatformRight
{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableMyList
{
    height: 80%;
    height: 50vh;
    max-height: 80%;
    max-height: 50vh;
    width: 70%;
    width: 70vw;
    max-width: 70%;
    max-width: 70vw;
    
    text-align: center;
    padding: 0px;
    border-spacing: 0px;
    //border-collapse: collapse;
    color: #aaaaaa;
    //overflow: auto;
    //overflow-y: scroll;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    vertical-align: top;
    //display: table;
}


#idTableGlobalStats
{
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    
    border: 0px solid #00fffa;
    
    text-align: center;
    margin: 0px;
    vertical-align: top;
    display: table;
}

#idTableGlobalList
{
    height: 80%;
    height: 50vh;
    max-height: 80%;
    max-height: 50vh;
    width: 70%;
    width: 70vw;
    max-width: 70%;
    max-width: 70vw;
    
    text-align: center;
    padding: 0px;
    border-spacing: 0px;
    //border-collapse: collapse;
    color: #aaaaaa;
    //overflow: auto;
    //overflow-y: scroll;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    vertical-align: top;
    //display: table;
}

#idTableOptions
{
    color: #aaaaaa;
    width: 100%;
    max-width: 100%;
    display: table;
}

#idTableManagementStats
{
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    
    border: 0px solid #00fffa;
    
    text-align: center;
    margin: 0px;
    vertical-align: top;
    display: table;
}

#idTableManagementUsers2
{
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    
    border: 0px solid #00fffa;
    
    text-align: center;
    margin: 0px;
    vertical-align: top;
    display: table;
}

#idTableManagementUsers
{
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    
    border: 0px solid #00fffa;
    
    text-align: center;
    margin: 0px;
    vertical-align: top;
    display: table;
}

#idTableManagementUsersColHeaderIndex
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
}
    
#idTableManagementUsersColHeaderUsername
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
}
    
#idTableManagementUsersColHeaderEmail
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderAdminLevel
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderTwoDP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderThreeDP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderaFPS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderFPP
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderVPuzzle
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderBulletstorm
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderFighting
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderStealth
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderSurvival
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderVN
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderIM
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderRPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderTRPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderARPG
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderSports
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderRacing
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderRTS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderTBS
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderVE
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMMO
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMoba
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderOnline
{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idContentAdd
{
    height: auto;
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    
    border: 0px solid #FE0101;
    
    text-align: left;
    vertical-align: top;
    
}

#idAddTarget2
{
    width: auto;
}

#idAddTargetUrl2
{
    width: auto;
}

#idRadioAddValue2
{
    color: #aaaaaa;
    
}

#idContentAddSuggestion
{
    height: auto;
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    
    border: 0px solid #FE0101;
    
    text-align: left;
    vertical-align: top;
    
}

#idAddTarget1
{
    width: auto;
}

#idAddTargetUrl1
{
    width: auto;
}

#idRadioAddValue1
{
    color: #aaaaaa;
    
}

#idContentSignUp
{
    width: 100%;
    max-width: 100%;
    color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
    text-align: left;
}

#idTableSignUp
{
    color: #aaaaaa;
    display: table;
}

#idCenterRowRight
{
    height: 100%;
    height: 85vh;
    max-height: 100%;
    max-height: 85vh;
    width: 15%;
    width: 15vw;
    max-width: 15%;
    max-width: 15vw;
    
    padding: 0px;
    border: 0px solid #13ecf4;
    vertical-align: top;
    margin: auto;
    
    display: table-cell;
}

#idAdvertRight
{
    min-height: 100%;
    min-height: 75vh;
    height: 100%;
    height: 75vh;
    max-height: 100%;
    max-height: 75vh;
    width: 100%;
    width: 15vw;
    max-width: 100%;
    max-width: 15vw;
    
    object-fit: fill;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    
    padding: 0px;
    margin: auto;
    
    vertical-align: top;
    display: block;
}

#idFooterRow
{
    height: 10%;
    height: 10vh;
    max-height: 10%;
    max-height: 10vh;
    width: 100%;
    width: 100vw;
    max-width: 100%;
    max-width: 100vw;
    
    color: #aaaaaa;
    border: 0px solid #e9f413;
    vertical-align: top;
}

#idFooterContent
{
    color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
    text-align: center;
    font-size: 10pt;
}

#idFooterManagement
{
    color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
    text-align: left;
    font-size: 7pt;
}


