@{
    ViewBag.Title = "Game Maker Downloads";
    Layout = "~/Views/Shared/Section3/_Section3Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	Game Maker Downloads
</h2>
<p align="left">
Here are Game Maker Projects to play:</br>
</br>
"Gamebox Client: v5.0":<t><a href="http://htkb.dyndns.org/Section3/Downloads/GameBox_Client_Installer_v5p0.exe">Play games from...well, anywhere.</a></br>
"Gamebox Server: v5.0":<t><a href="http://htkb.dyndns.org/Section3/Downloads/GameBox_Server_Installer_v5p0.exe">Host GameBox.</a></br>
"A Chess Server":<t><a href="http://htkb.dyndns.org/Section3/Downloads/Chess_Server.exe">Host a Chess game.</a></br>
"A Chess Client":<t><a href="http://htkb.dyndns.org/Section3/Downloads/Chess_Client.exe">A game of Chess from anywhere.</a></br>
"I Dunno":<t><a href="http://htkb.dyndns.org/Section3/Downloads/Idunno.exe">I dunno, it's a fun puzzle game though.</a></br>
"Purification":<t><a href="http://htkb.dyndns.org/Section3/Downloads/Zombies.exe">Kill zombies...lots of zombies.</a></br>
"Trail of the Undead: The Way Home":<t><a href="http://htkb.dyndns.org/Section3/Downloads/TrailoftheUndead.exe">An adventure of zombie killing goodness.</a></br>
"Discovery" (buggy Alpha):<t><a href="http://htkb.dyndns.org/Section3/Downloads/Discovery.exe">Play a game of discovery and survival.</a></br>
"Twisted Tactics: Version 0.1" (buggy Alpha):<t><a href="http://htkb.dyndns.org/Section3/Downloads/Tactical.exe">Scrapped two player tactical system.</a></br>
"Skitzo Burrito (Alpha): <t><a href="http://htkb.dyndns.org/Section3/Downloads/Emotive-Default-1.0.0.3.exe">An emotional platform survival game.</a></br>
</p>