@{
    ViewBag.Title = "Java Downloads";
    Layout = "~/Views/Shared/Section3/_Section3Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	Java Downloads
</h2>
<p align="left">
Here are Java Programs to download:</br>
</br>
"Blood Bowl Manager":<t><a href="../downloads/pichaku.zip">This is currently not available.</a></br>
</p>