@{
    Layout = "~/Layouts/Section2/Section5/Section1/_Layout.cshtml";
    Page.Title = "Revolutions: Post Wars";
}

<p align="left">
	Revolutions is a Tactical RPG with Post Wars as its 4th story arc.
</p>