@{
    ViewBag.Title = "HTKB Private Projects Page";
    Layout = "~/Views/Shared/Section2/Section4/_Section2_4Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<h2>
	<u>Elvia</u>
</h2>
<p align="left">
	Here are projects based in the Elvia Empire:</br>
	</br>
	Nine Card: a Tactical card game played through the Elvia Empire.</br>
</p>