@{
    Layout = "~/Layouts/Section2/_Layout.cshtml";
    Page.Title = "Terminal World";
}

<p align="left">
	This section is dedicated to the simulation MMO centered project "Terminal World".  This is a virtual environment where a zombie outbreak is about to happen.  Can you beat the zombies?  Can you survive?
</p>